.support-background-color {
  color: white;
}
.support-heading-style {
  text-align: center;
  color: white;
  padding: 60px 0px;
}
.support-heading-outer{
  /* border-bottom: 4px solid  #C438EF;
  width: 120px; */
}