.support-background-color {
  color: white;
}
.support-heading-style {
  text-align: center;
  color: white;
  padding: 60px 0px;
  font-family: "Cinzel";
}

.support-footer-outer {
  margin-top: 20%;
}
