.sectionTwo-background-image{
    background-image: url("../Assests/portfolio/TwoBg.png");
    background-size: cover;
    background-repeat: no-repeat;
height: 100vh;
}
.section-heading{
    color: white;
}