.firstGame-main-style {
    display: flex;
    flex-direction: row;
  }
  .firstGame-text-section {
    color: #1c1e21;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  .text-style-firstGame {
    font-family: Monterserat;
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
    /* 1. Text sizes:15px
    2. Font-family: monterserat.
    3. Line hight: 1.8
     */
    max-width: 345px;
  }
  .firstGame-image-section {
    align-items: center;
  
    display: flex;
    justify-content: center;
  /* margin-right: 120px; */
  }
  .firstGame-image-section img{
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6); */
  
  }
  .firstGame-xoin-heading{
    padding: 18px;
  }
  .firstGame-style{
    padding-top: 115px;
  
    /* padding: 115px; */
  }
  /* .firstGame-coin-size{
    height:"150px";
    width:"150px"
  } */
  @media only screen and (max-width: 900px){
    .firstGame-main-style{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* margin-top: 40px; */
  
    }
    .firstGame-image-section {
      /* align-items: center;
      display: flex;
      justify-content: center;
      margin-right: 11px;
      margin-left: 32px; */
  }
  .image-height {
    height: 371px;
}
  }
  /* ----------------------------------------------------------------Slider Code---------------------------- */
  .firstGameCarousel-style{

    padding-top: 9px;
    border-radius: 12px;
    /* border-bottom-left-radius: 12px; */
    /* border-radius: 100px 100px 100px 100px; */
    /* height: 500px; */
    /* margin-bottom: 60px; */
    /* margin-top: 40px; */
    /* margin-left: 200px; */
    /* margin-right: 200px; */
}
/* .slider-carousel-heading{
  
    justify-content: center;
    display: flex;
    font-family: Azonix;
    color: white;
    padding-top: 6%;
} */
.image-height{
    /* height: 500px; */
    /* height: 370px; */

    /* border-radius: 10px; */
    background-color: black;
}
.carousel-inner{
    /* border-radius: 20px; */

}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    /* max-width: 1354px; */
}

.carousel-inner {
    /* border-radius: 20px; */
    height: 374px;
}
.carousel {
  
    margin: auto;
  }


/* .carousel-item-style{
    width: 80%;

} */
.carousel-inner-style{
  border-radius: 12px;
}

@media only screen and (max-width: 900px) {
  .image-height{
      height: 300px;

  }
  .slider-carousel-heading{
      margin-bottom: 2%;
      margin-top: 1%;
  }
  
  }