.footer {
  color: white;
  display: flex;
  height: 228px;
  justify-content: space-between;
  margin-top: 100px;
}
.footer-roxo-icons h3 {
  color: white;
}
.inner-icons {
  display: flex;
}
.footer-roxo-icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-icons-flex-footer {
  display: flex;
  margin: 10px;
}
.inner-icons-flex-footer svg {
  margin-left: 10px;
}
.image-right {
  display: block;
}
.footer-content-style {
  text-align: center;
  padding-top: 272px;
}
.footer-content-style h3 {
  font-family: "Cinzel";
}
.footer-content-style p {
  font-family: Nuninto;
}
.footer-bg {
  display: block;
}
.footer-resp {
  display: none;
}
.links-footer a{
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 900px) {
  .image-left {
    display: none;
  }
  .image-right {
    display: none;
  }
  .footer {
    color: white;
    display: flex;
    justify-content: center;
  }
  .footer-resp {
    color: white;
    display: block;
    background-color: #262250;
  }
  .footer-bg {
    display: none;
  }
  .footer-content-style {
    margin-top: 68px;
    text-align: center;
    padding-top: 28px;
  }
}
