/* .footer-flex{
    
    flex-direction: row;
    
}
.footer-icons-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 200px;
background-color: rgba(0,0,0,0.1);
padding: 8px 0px;
    align-items: center;
}
.margin{
}
.roxo-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-image-style{
    background: url("../Assests/FooterLeft.png") bottom left no-repeat, url("../Assests/FooterRight.png") bottom right no-repeat ;
    background-size: 450px, 350px;
    padding-top: 15px;

  
}
.footer-copyright{
    font-family: Monterserat;
    font-size: 8px;
    margin-top: 2px;
    margin: 0px;
    font-family: Monterserat;
    font-size: 15px;
    line-height: 1.8;
    padding-top: 16px;
}
.terms-footer{
    font-family: Monterserat;
    font-size: 15px;
    
    line-height: 1.8;
}
 */
.footer {
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer-roxo-icons h3 {
  color: white;
}
.inner-icons {
  display: flex;
}
.footer-roxo-icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-icons-flex-footer{
    display: flex;
    margin: 10px;
}
.inner-icons-flex-footer svg{
    
    margin-left: 10px;
}

