.background-color-main {
  background-color: #201d47;
  overflow: visible !important;
}
/* .body {
    overflow: visible !important;
  } */

@font-face {
  font-family: Nuninto;
  src: url(../Assests/NunitoSans-SemiBold.ttf);
}

@font-face {
  font-family: Cinzel;
  src: url(../Assests/Cinzel-VariableFont_wght.ttf);
}
