.login-fields-heading {
  border-radius: 25px;
  color: #ffe600;
  width: 246px;
  height: 40px;
  border: 1px solid #ffe600;
  text-align: center;
}
.login-fields-heading-outer {
  padding-top: 20px;
}
.modal-padding {
  padding-left: 46px;
  padding-right: 46px;
}
.modal-body {
  padding-top: 0px;
}
.modal-content {
  border-radius: 12px;
  background-color: #262250;
}
.modal-size {
}
.login-image-style {
  background-image: url("../Assests/LoginForm.jpeg");
  background-size: 40%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.btn-style {
  font-size: large;
  font-weight: bold;
  padding: 4px 8px;
}
.login-image-side {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}
.login-form-style-roxo {
  display: flex;
  flex-direction: row;
}

.input-email-login {
  margin-top: 4%;
  padding: 6px 18px;
  outline: none;

  color: #ffffff;
  background: rgba(88, 88, 88, 0.21);

  border: none;
  border-radius: 12px;
  width: 100%;
}
.text-login {
  margin: 10px;
  display: flex;
  width: 20%;
  padding-left: 8px;
  font-size: 13px;
  border-radius: 9px;
  align-items: center;
  font-weight: 600;
  color: white;
}
.text-login-second {
  margin: 10px;
  outline: none;
  font-size: 13px;
  padding-left: 6px;
  border-radius: 9px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.input-password-login {
  margin: 18px 0px;
  padding: 6px 18px;
  outline: none;

  color: #ffffff;
  background: rgba(88, 88, 88, 0.21);
  border: none;
  border-radius: 12px;
  width: 100%;
}
.login-form-display {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.register-button-loginForm {
  padding: 6px 18px;

  color: #1c1e21;
  border-radius: 12px;
  width: 50%;

  background-color: #e4e6eb;
  border: none;
}
.register-button-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 72px;
}

.login-button-style {
  margin-top: 4%;
  padding: 6px 18px;

  width: 50%;
  border-radius: 12px;
  background-color: #ffe600;

  border: none;
}
.login-form-display a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.forget-password {
  font-size: 14px;
  color: white;
  padding-top: 10px;
}

.have-account {
  font-size: 14px;
  color: white;

  margin: 0;
}
.register-now button {
  padding: 4px 70px;
  color: white;
  background: none;
  border: none;
}

@media screen and (max-width: 900px) {
  .login-image-style {
    background-image: url("../Assests/LoginForm.jpeg");

    background-size: 0%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }
  .register-button-position {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .login-form-display {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 18%;
  }
}
