.stepper-button-style {
  border-radius: 100px;
  background-color: white;
  color: black;
  border-radius: 107px;
  background-color: white;
  color: black;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  border: none;
}
.stepper-button-style:hover {
  background-color: #393469;
  color: white;
}
.stepper-content-background {
  background-color: #262250;
  height: 400px;
  width: 800px;
  border-radius: 30px;

  color: white;
}

.stepper-button-outer {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}
.arrow-icon-style {
  margin: 0px 12px;
  color: #6b94bd;
}
.milestone-steper-pad {
  padding: 60px 0px;
}
.milestone-heading-outer {
  border-left: 4px solid #c438ef;
  padding-left: 15px;
  margin-left: 7vh;
  margin-top: 30px;
  color: white;
  margin-bottom: 55px;
  font-family:Cinzel;
}
.milestone-heading-outer h1{

    letter-spacing: 2px;
    font-weight: bold;
    color: white;

}
.stepper-inner-heading {
  background-color: #393469;
  padding: 20px 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  font-family: 'Cinzel';
}
.milestone-inner-content {
  padding: 20px;
}
.milestone-inner-content p{
  font-family: Nuninto;
}  
.milestone-inner-content h3 {
  text-align: center;
  padding: 12px 0px;
  font-family: 'Cinzel';
}
.status-content {
  margin-top: 30px;
  background-color: #393469;
  border-radius: 12px;
  width: 55%;
}
.status-col-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stepper-button-outer button:focus {
  background-color: #393469;
  color: white;
  font-weight: bold;
}
.stepper-button-outer button{
  font-family: 'Cinzel';
  font-weight: bold;
}
.active {
  background-color: #393469;
  color: white;
  font-weight: bold;
}
.stepper-button-inner-line {
  border-bottom: 6px solid #393469;
  width: 8em;
  margin-bottom: 40px;
  margin-left: 6px;
  margin-right: 6px;
}
.mile-stone-middle-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.outer-flex-content-milestone{
  display: flex;
}
.section-divider-milestone{
  display: none;
}
@media screen and (max-width: 900px) {
  .stepper-content-background {
    background-color: #262250;
    height: 568px;
    width: 320px;
    border-radius: 30px;
    margin-left: 12px;
    color: white;
  }

  .arrow-icon-style {
    margin: 0px -1px;
    color: #6b94bd;
  }
  /* .stepper-button-inner-line{
    display: none;
  } */
  .milestone-heading-outer {
    border-left: 4px solid #c438ef;
    padding-left: 15px;
    margin-left: 3vh;
    margin-top: 30px;
    color: white;
    margin-bottom: 55px;
    font-family: Cinzel;
   
  }
  .stepper-button-inner-line {
    border-bottom: 6px solid #393469;
    width: 2em;
    margin-bottom: 40px;
    margin-left: 6px;
    margin-right: 6px;
  }
  .milestone-icon-main {
    justify-content: center;
  }
  .milestone-inner-content {
    flex-direction: column;
  }
  .status-content {
    padding: 6px;
    text-align: center;
    background-color: #393469;
    border-radius: 12px;
    width: 80%;
  }
  .outer-flex-content-milestone{
    display: flex;
    justify-content: center;
  }
  .section-divider-milestone {
    width: 100%;
    border: none;
    height: 1px !important;
    margin: 0;
    padding: 0 !important;
    /* margin-top: 35px; */
    flex-shrink: 0;
    margin-bottom: 35px;
    background-color: #40444a;
    margin: 0;
    /* margin-bottom: 30px; */
  }
}
