.stepper-button-style {
  border-radius: 100px;
  background-color: white;
  color: black;
  border-radius: 107px;
  background-color: white;
  color: black;
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  border: none;
}
.stepper-button-style:hover {
  background-color: #393469;
  color: white;
}
.stepper-content-background {
  background-color: #262250;
  height: 400px;
  width: 800px;
  border-radius: 30px;

  color: white;
}

.stepper-button-outer {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}
.arrow-icon-style {
  margin: 0px 12px;
  color: #6b94bd;
}
.milestone-steper-pad {
  padding: 60px 0px;
}
.milestone-heading-outer {
  border-left: 4px solid #c438ef;
  padding-left: 15px;
  margin-left: 19vh;
  margin-top: 30px;
  color: white;
  margin-bottom: 55px;
}
.stepper-inner-heading {
  background-color: #393469;
  padding: 20px 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
}
.milestone-inner-content {
  padding: 20px;
}
.milestone-inner-content h3 {
  text-align: center;
  padding: 12px 0px;
}
.status-content {
  text-align: center;
  padding-top: 60px;
}
.stepper-button-outer button:focus {
  background-color: #393469;
  color: white;
  font-weight: bold;
}
.active {
  background-color: #393469;
  color: white;
  font-weight: bold;
}
.stepper-button-inner-line {
  border-bottom: 6px solid #393469;
  width: 8em;
  margin-bottom: 40px;
  margin-left: 6px;
  margin-right: 6px;
}

@media screen and (max-width: 900px) {
  .stepper-content-background {
    background-color: #262250;
    height: 528px;
    width: 328px;
    border-radius: 30px;
    margin-left: 12px;
    color: white;
}
  .arrow-icon-style {
    margin: 0px -1px;
    color: #6b94bd;
  }
  .stepper-button-inner-line{
    display: none;
  }
}
