.partners-inner-background{
    background-color: #262250;
    border-radius: 30px;
    padding: 30px;
}
.background-color-each-partner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
}
.partners-inner-pading{
    padding-left: 70px;
    padding-right: 70px;
}
.partners-content-style{
    color: white;
    border-left: 4px solid #c438ef;
    padding-left: 15px;
    margin-left: 13vh;
    margin-top: 30px;
    margin-bottom: 30px;

}
.partners-outer-style{
 padding-top: 12px;
 padding-bottom: 40px;
 padding-right: 12px;
 padding-left: 20px;
}

@media only screen and (max-width: 900px){
    .partners-inner-background{
        flex-wrap: wrap;
    }
}