.partners-inner-background {
  background-color: #262250;
  border-radius: 30px;
  padding: 30px;
}
.background-color-each-partner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
}
.partners-inner-pading {
  padding-left: 70px;
  padding-right: 70px;
}
.partners-content-style {
  color: white;
  border-left: 4px solid #c438ef;
  padding-left: 15px;
  margin-left: 3vh;
  margin-top: 4px;
  color: white;
  margin-bottom: 50px;
  font-family: 'Cinzel';
}
.partners-content-style h1{
  letter-spacing: 2px;
  font-weight: bold;
}
.partners-content-style p{
  font-family: Nuninto;
}
.partners-outer-style {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 12px;
  padding-left: 20px;
}
.display-partner-flex{
  display: flex;
}

@media only screen and (max-width: 900px) {
  .partners-inner-background {
    flex-wrap: wrap;
  }
  .partners-content-style {
    color: white;
    border-left: 4px solid #c438ef;
    padding-left: 15px;
    margin-left: -1vh;
    margin-top: 4px;
    color: white;
    margin-bottom: 50px;
    font-family: 'Cinzel';
}
.partners-inner-pading {
  padding-left: 24px;
  padding-right: 22px;
}
.display-partner-flex{
  display: flex;
  flex-direction: column;
}
}
