.play-main-style {
  display: flex;
  flex-direction: row;

  margin: -84px 0px;
  padding-bottom: 44px;
}
.play-heading-outer {
  border-left: 4px solid #c438ef;
  padding-left: 15px;
  margin-left: 7vh;
  margin-top: 4px;
  color: white;
  margin-bottom: 38px;
  font-family: "Cinzel";
}
.play-heading-outer h1 {
  letter-spacing: 2px;
  font-weight: bold;
}
.play-text-style {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}
.play-text-style h3 {
  font-family: "Cinzel";
}
.play-text-data-style {
  max-width: 300px;
  font-family: Helvetica, Arial, sans-serif;
}
.play-para {
  font-family: Nuninto;
  font-size: 15px;
  line-height: 1.8;
}
.getNow-style {
  display: flex;
  flex-direction: column;

  padding-left: 14px;
  color: white;
}
.google-play-image {
  margin-left: 20px;
}
.play-image-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-image-size {
  height: 605px;
}

.first-buttons-style {
  display: flex;
  flex-direction: row;
}
.second-buttons-style {
  display: flex;
  flex-direction: row;
}
.button-style-play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-coming {
  color: white;
  text-align: center;
  padding-left: 40px;
  font-family: Nuninto;
}

@media only screen and (max-width: 900px) {
  .play-main-style {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .play-text-style {
    margin-top: 40px;
  }
  .play-image-size {
    height: 320px;
    margin-top: 100px;
  }
  .first-buttons-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .play-heading-outer {
    border-left: 4px solid #c438ef;
    padding-left: 7px;
    margin-left: -2vh;
    margin-top: 4px;
    color: white;
    margin-bottom: 38px;
    font-family: "Cinzel";
}
  .google-play-image {
    margin-left: 0px;
  }
  .text-coming {
    color: white;
    text-align: center;
    padding-left: 9px;
    font-family: Nuninto;
  }
}
