.preSale-back {
  background-image: url("../Assests/web roxo/preSale/lgPre.png");
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.pre-lg {
  display: block;
}
.pre-sm {
  display: none;
}
.smpre-img-style {
  height: 493px;
  width: 407px;
  text-align: center;
  border-radius: 12px;
}

.timer-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 11rem;
  margin-left: 6.5rem;
  position: absolute;
}
.timer-inner {
  background-color: #e7e7e7;
  padding: 5px;
  color: red;
  text-align: center;
  font-size: 50px;
  border-radius: 12px;
}
.timer-style h3 {
  color: red;
  font-size: 60px;
}
.presale-position-bg {
  position: relative;
  margin-top: -40rem;
  z-index: 120;
}
.presale-position-sm {
  position: relative;
  margin-top: -15rem;
  z-index: 120;
}
.timer-style h6 {
  font-family: "Cinzel";
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.close-preSale-btn {
  float: right;
  color: red;
  margin-right: 2rem;
  margin-top: 10%;
}
.close-preSale-btn-sm {
  color: red;
  margin-right: 2rem;
  margin-top: 10%;
  float: right;
  position: absolute;
  margin-left: 20rem;
  margin-top: 4rem;
}
.buy-btn-outer {
  position: absolute;
  margin-left: 30rem;
  margin-top: -10rem;
  width: 100%;
}
.buy-btn-inner {
  visibility: hidden;
  width: 24%;
  height: 50px;
}
@media screen and (max-width: 900px) {
  .pre-lg {
    display: none;
  }
  .pre-sm {
    display: block;
  }
}
