.vision-main-style {
  display: flex;
  flex-direction: row;
}
.vision-image-style img {
  /* height: 300px; */
}
.vision-image-size {
  /* Width: 875px; */
  width: 785px;

  padding-bottom: 116px;
}
.vision-style {
  /* padding: 27px 0px; */
  /* padding-top: 80px; */
  padding-top: 60px 40px;
}
.vision-image-style {
  display: flex;
  justify-content: flex-start;
}
.vision-image-style img {
  /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6); */
}
.vision-text-style {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: justify;
  color: white;
}
.vision-heading-style{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0px;
    font-family: 'Cinzel';
}
.vision-text-data-style {
  max-width: 300px;
}
.visiion-upper-text {
  /* border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #ce0183);

padding-right: 20px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-end;
    position: relative;
    padding-left: 12px; */

  border: 10px solid rgb(24, 224, 231);
  border-image-slice: 1;
  border-width: 5px;
  /* border-image-source: linear-gradient(to left, #743ad5, #ce0183); */
  /* border-image-source: rgb(23, 169, 189); */
  padding-right: 4px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: flex-end;
  position: relative;
  padding-left: 6px;
  /* position: relative; */
  /* border: 5px solid #f00; */
  /* position: relative; */
  /* border: 5px solid #f00; */
}
/* .visiion-upper-text{
    border: 1px solid #000;
    position: relative;
    padding-left: 12px;
} */
.visiion-upper-text::before {
  /* position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #ce0183);
padding-left: 10px;
padding-right: 1px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-end; */
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  border: 10px solid rgb(24, 224, 231);
  border-image-slice: 1;
  border-width: 2px;
  /* border-image-source: linear-gradient(to left, #743ad5, #ce0183); */
  padding-left: 10px;
  padding-right: 1px;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: flex-end;
}
.vision-para {
  font-family: 'Nuninto';

  font-size: 15px;
  line-height: 1.8;
}
.freeplay-text {
  padding-right: 12px;
  font-family: Monterserat;
  font-size: 15px;
  line-height: 1.8;
}

.vision-heading-outer{
  border-left: 4px solid #c438ef;
  padding-left: 15px;
  margin-left: 7vh;
  margin-top: 8px;
  color: white;
  margin-bottom: 38px;
  font-family: 'Cinzel';
}
.vision-heading-outer h1{
  letter-spacing: 2px;
  font-weight: bold;
}
@media only screen and (max-width: 900px) {
  .vision-main-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .vision-text-style {
    margin-top: 40px;
  }
  .vision-image-size {
    width: 333px;
    padding-bottom: 10px;
  }
}
