.card-button-style{
  margin-top: 4%;
  padding: 6px 18px;
  width: 50%;
  border-radius: 12px;
  background-color: #58ACFF;
  border: none;
}

.card-main-style{
    /* border:2px solid grey;
    background: transparent; */
    height: 180px;
    width: 300px;
    background-color: #262250;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    padding: 20px;
    padding: 12px ;
    color: white;
}
.card-main-style a{
  text-decoration: none;
  color: white;
}
.card-button-outer-style{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}